
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147965889-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-147965889-1');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter-Strike Statistics</title>
    <link rel="stylesheet" href='@Html.GetFileWebPath("vendors.css")'>
    <link rel="stylesheet" href='@Html.GetFileWebPath("app.css")'>
    <link href="/dist/favicon/favicon.ico" type="image/x-icon" rel="icon"/>
</head>
<body>
    @RenderBody()
    <script src='@Html.GetFileWebPath("vendors.js")' defer></script>
    <script src='@Html.GetFileWebPath("app.js")' defer></script>
</body>
</html>
