.home-page {
    $padding-top: 30px;

    &__layout {
        min-height: 100vh;
    }

    &__header {
        height: auto;
        padding: 0 $default-side-padding;
    }

    &__logo {
        color: $color-white;
        font-size: 32px;
    }

    &__content {
        margin: $padding-top 0;
        padding: 0 $default-side-padding;
    }

    &__title {
        @at-root h1#{&} {
            font-size: 20px;
            color: $color-white;
            margin: 0;
        }
    }

    &__card {
        position: sticky;
        top: $padding-top;
    }
}
